
<div class="row">
  <div class="col-12 mt-5 ">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h4 class="header-title">ارتباط ها</h4>
  </div>
</div>



<div class="row justify-content-center" *ngIf="loading == true ||  connections.length == 0">
  <div class="col-10 border border-info p-2" style="border-radius: 12px;">
    <h3 class="text-center mt-2" *ngIf="loading">
      <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
      </div>
    </h3>

    <div class="alert alert-warning" *ngIf="loading == false && connections.length == 0" role="alert">
      <h4 class="alert-heading rtl text-right">درود بر شما </h4>
      <p class="rtl text-right">هیچ ارتباط  یافت نشد</p>
    </div>

  </div>

</div>



<div class="row justify-content-center ">
  <div *ngFor="let item of connections" class="col-10 border border-info shadow-lg bg-light p-2 mt-3 mb-3" style="border-radius: 12px;" >
    <div class="row flex-row-reverse">
      <div class="col-6 border-left border-info">
        <p class="rtl p-1 text-dark text-center border-info border-bottom p-2">كد رهگیری</p>
        <p class="rtl p-1 text-center  text-muted">
          {{item.id_farmer_connection_vendor}}
        </p>
      </div>
      <div class="col-6">
        <p class="rtl p-2 text-dark text-center border-info border-bottom"> تاریخ ارتباط </p>
        <p class="text-center text-muted rtl">
          {{item.created_at|date}}
        </p>
      </div>
      <div class="col-12">
        <br>
      </div>
      <div class="col-6 border-left border-info">
        <p class="rtl p-2 border-bottom border-info text-dark text-center"> وضعیت </p>
        <p class="rtl text-center text-muted">{{item.status_title}}</p>
      </div>
      <div class="col-12">
        <hr>
      </div>

      <div class="col-12">
        <h4 class="text-right text-muted float-right pr-3 pt-2 pb-2 border-bottom w-75">اطلاعات فروشگاه </h4>
      </div>

      <div class="col-6 border-left border-info">
        <p class="rtl p-2 text-dark   border-bottom border-info text-center">نام فروشگاه</p>
        <p class="rtl  text-muted  text-center">{{item.vendor.brand_name}}</p>
      </div>
      <div class="col-6">
        <p class="rtl p-2 text-dark   border-bottom border-info text-center">شماره تماس</p>
        <p class="rtl  text-muted  text-center">{{item.vendor.office_phone}}</p>

      </div>
      <div class="col-12">
        <br>
      </div>

      <div class="col-6 border-left border-info">
        <p class="rtl p-2 text-dark   border-bottom border-info text-center">استان </p>
        <p class="rtl  text-muted  text-center">{{item.vendor.city.name}}</p>

      </div>
      <div class="col-6 ">
        <p class="rtl p-2 text-dark border-bottom border-info text-center">شهر </p>
        <p class="rtl  text-muted  text-center">{{item.vendor.city.name}}</p>
      </div>
      <div class="col-12">
        <br>
      </div>
      <div class="col-12">
        <p class="rtl  text-dark p-3 border-bottom border-info  text-center">آدرس </p>
        <p class="rtl text-center text-muted">
         {{item.vendor.address}}
        </p>
      </div>
      <div class="col-12">
        <hr>
      </div>
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <input type="button" (click)="invoice(item.vendor.id_vendor)" class="btn btn-info w-75" value="پرونده ها">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 mb-5 ">
  </div>
</div>
