<div class="row">
  <div class="col-md-12">
    <h4 class="header-title">
      آپدیت  پروفایل
    </h4>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="submit()">

     <div class="row flex-row-reverse">
        <div class="col-12">
          <label for="full_name" class="p-3 rtl float-right text-muted">نام</label>
          <input type="text" class="form-control rtl" formControlName="full_name" id="full_name">
        </div>
        <div class="col-6 ">
          <label for="province_id" class="p-3 rtl float-right text-muted">استان</label>
          <select id="province_id" formControlName="province_id" class="form-control  rtl">
            <option [ngValue]="null"></option>
            <option *ngFor="let item of provinces" [ngValue]="item?.id">{{item?.name}}</option>
          </select>
        </div>

        <div class="col-6">
          <label for="city_id" class="p-3 rtl float-right text-muted">شهر</label>
          <select id="city_id" formControlName="city_id" class="form-control  rtl">
            <option *ngFor="let item of cities" [ngValue]="item?.id">{{item?.name}}</option>
          </select>
        </div>
        <div class="col-12">
          <label for="address" class="p-3 rtl float-right text-muted">آدرس</label>
          <textarea
             formControlName="address"
             class="form-control rtl"
             id="address"></textarea>
        </div>
        <div class="col-12 mt-3">
          <input type="submit" value="آپدیت" class="btn btn-block btn-info">
        </div>
     </div>


    </form>
  </div>
</div>
