
<div class="container-fluid bg-white overflow-auto h-100 " style="height: 100vh;">
  <nav class="navbar w-100 m-0  p-3  fixed-top  border  bg-light text-dark">
    <div class="row ">
      <div class="col-4 text-center">
        <img style="border-radius: 100%;" class="img " src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png' alt="alt" >
      </div>
      <div class="col-4 text-center">
        <h2 class="">{{userService?.user?.call_number}}</h2>
      </div>
      <div class="col-4 text-center">
        <a routerLink="." class="w-100 text-center h-100" style="height: 100%">
          <img style="border-radius: 100%" class="img " [src]="'assets/img/ahmadagha.png'">
        </a>
      </div>
    </div>
  </nav>

  <div class="row w-100 overflow-auto " style="margin-top: 10%; margin-bottom: 10%; ">
    <div class="col-12 ">
      <router-outlet></router-outlet>
    </div>
  </div>

  <nav class="navbar border overflow-hidden p-3 bg-light text-dark m-0  fixed-bottom"
  >
    <div class="row">
      <div class="col-4   text-center">
        <a routerLink="./profile"  class="w-100 text-center h-100" style="height: 100%">
          <img class="img" src="assets/img/user-profile-svgrepo-com.svg" alt="alt">
        </a>

      </div>
      <div class="col-4 text-center">
        <a routerLink="./connection" class="w-100 text-center">
          <img class="img" src="assets/img/line-chart-connection-svgrepo-com.svg" alt="alt">
        </a>
      </div>
      <div class="col-4 text-center">
        <a  routerLink="./invoice" class="w-100 text-center">
          <img class="img" src="assets/img/price-tag-svgrepo-com.svg" alt="alt">
        </a>
      </div>
    </div>
  </nav>
</div>

