
<div class="row">
  <div class="col-12 mt-5">
  </div>
</div>


<div class="row justify-content-center">

  <div class="col-11 border-info border p-2 " style="border-radius: 13px;">

    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row">
          <div class="col-8 text-center">
            <h4 class="text-center text-muted border-bottom p-2 border-info">ورود </h4>
          </div>
          <div class="col-4 text-center">
            <img height="50" width="50" class="text-center " [src]="'assets/img/ahmadagha.png'">
          </div>
          <div class="col-12">
            <hr>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row" [hidden]="step_form == 2">
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-12">
              <label for="call_number" class="text-muted float-right text-right rtl p-2">شماره مبایل</label>
              <input type="tel" class="form-control rtl" formControlName="call_number" appOnlyNumbers id="call_number" >

            </div>
          </div>
       </div>


        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-12 text-center  mt-4">
              <input type="button" value="ارسال" class="btn btn-info btn-sm btn-block" (click)="register_phone()">
            </div>
          </div>
        </div>

      </div>


      <div class="row" [hidden]="step_form != 2">
        <div class="col-md-12">
          <div class="col-md-12 text-center">
            <p class="text-center mt-1">کد فعال سازی به شماره موبایل {{form.controls['call_number']?.value}} ارسال شد</p>
            <ng-otp-input class="text-center" (onInputChange)="setCode($event)" [config]="{allowNumbersOnly: true, length: 6 ,  inputStyles:{'margin': '3px'}}"></ng-otp-input>
          </div>
        </div>


        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-11 col-sm-9 text-center  mt-4">
              <input type="submit" value="تایید" class="btn btn-info w-75 "  [disabled]="form.invalid">

            </div>
          </div>
        </div>

      </div>

    </form>


  </div>
</div>
