/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "vazir";
    src: url("assets/fonts/Shabnam-Medium-FD-WOL.ttf");
    font-weight: normal;
    font-size: medium;
  }
html, body { 

    margin: 0;
    padding: 0;

    /* overflow: hidden; */

}
* {
    font-family: vazir, sans-serif !important;
  }

